/*
#detachment_option{
    display:none;
}

#detachment_yes_radio:checked ~ #detachment_option{
    display:block;
}
*/



:root{
    --anthrazit: #212729;
    --darkAnthrazit: #1b1c1e;
    --gold: #d4af37;
    --snow: #fafafa;
}

/* ########################################
GENERAL
######################################## */ 

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--anthrazit);
}

.center-txt{text-align: center;}

/* ########################################
FONTS
######################################## */ 



/* ########################################
FORM
######################################## */ 

form{
    content: "";  
}

/* ########################################
INPUT - LABEL
######################################## */ 

label{
    display: block;
    margin: 10px;
}

/* ########################################
INPUT - TEXT
######################################## */ 

input[type="text"]{
    display: block;
    height: 30px;
    width: 480px;
}

.slider-txt{
    border-radius: 15px;
    background: var(--snow);
    color: var(--anthrazit);
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px auto;
}

input{
    outline-color: var(--gold);
}

#desired_amount_txt{
    width: 128px;
}

#running_time_txt{
    width: 128px;
}

#monthly_rate_txt{
    width: 128px;
}

/* ########################################
INPUT - RANGE
######################################## */ 

input[type="range"]{
    /* Override default CSS styles */
    -webkit-appearance: none;
    appearance: none;

    background: var(--anthrazit);
    border-radius: 10px;
    height: 15px;
    min-width: 480px;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

input[type="range"]:hover{
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: var(--gold);
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius:50%;
    background: var(--gold);
    cursor: pointer;
}

/* ########################################
SELECT
######################################## */ 

select{
    height: 30px;
    width: 240px;
}

/* ########################################
INPUT - DATE
######################################## */ 

input[type="date"]{
    height:30px;
    width:240px;
}

/* ########################################
BORDER
######################################## */ 

.border-none{border: 0;}

